@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
$merienda:'Merienda', cursive;


$primarycolor: #396C03;
$seconderycorlor:#FF8B00;
$Paragraph:#676767;
$blackbasic: #3F3F3F;
