@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&display=swap');
$merienda:'Merienda', cursive;


$primarycolor: #232D3F;
$seconderycorlor:#005B41;
$Paragraph:#008170;
$blackbasic: #0F0F0F;

.gif{
    width: 50px;
}